<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Emoblis</title>
    {% block head %}
    {% endblock %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Emoblis</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href={% url 'home' %}>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={% url 'login' %}>Login</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Courses
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Data Science</a></li>
            <li><a class="dropdown-item" href="#">Cybersecurity</a></li>
            <li><a class="dropdown-item" href="#">MIT-App and Web Devpt</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'register' %}"  aria-current="true">Register</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit" style="color:rebeccapurple;border: 2px solid rebeccapurple">Search</button>
      </form>
    </div>
  </div>
</nav>





    <main>
{% block content %}

{% endblock %}
    </main>



    <section style="background-image: linear-gradient(to left,lightslategrey,burlywood,beige)">
Get In Touch<br>
We value your feedback, comments and any questions.
<p> &#128240</p>P.O Box 939-00606, Sarit Center, Nairobi<br>
<p> &#128205</p>Kipro Center, Sports Road, Westlands, Near Delta, Nairobi<br>
<<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
p> &#128222</p>+254716-608-066<br>
<p>&#128222</p>+254732-608-06<br>
<p>&#128231</p>info@emobilis.org<br>
    </section>
    <footer>

    </footer>
</body>
</html>